DEBUG = True

DB_HOST = "localhost"
DB_NAME = "site-feedback"
DB_USER = "testName"
DB_PASSWORD = ""

TOPICS = (
	("opt1","Bug Report"),
	("opt2","Data Request"),
	("opt3","Error Report"),
	("opt4","Feature/Enhancement Request"),
	("opt5","Login/Password Issue"),
	("opt6","Technical Support"),
	("opt7","General Inquiry"),
	("opt8","Other")
)

DB_CONNECT_STR = "dbname='{0}' user='{1}' host='{2}' password='{3}'".format(DB_NAME, DB_USER, DB_HOST, DB_PASSWORD)

SMTP_SERVER = 'mailserver@mail.org'
SMTP_PORT = '25'
SMTP_USER = ''
SMTP_PASS = ''
ADDRESSES = ''
FROM_ADDRESS = ''


'''specific to RIDataHub'''
PROFILES_ADDRESS = ''
RIDATAHUB_ADDRESS = ''
DEVOPS_ADDRESS = ''

'''If you have multiple recipients, list them as above'''
OTHER_ADDRESS = ''
...
