<!DOCTYPE html>
<html>
<head>
	<title>Form</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/base.css')}}">


</head>
<body>
	<div id="container">

		<div id="form-cont">

			<h1>Give us Feedback</h1>
			<div id="intro">Is something not working as it should? Let us know</div>

			<form action="/submit" method="post" name="issue-form" id="issue-form">
				<div class="form-field" id="drop-down">
					<label>Topic:</label>
					<select id= "issue" name="issue-option">
						<option id="first-op" value="select-one">Please Select a topic</option>
						{% for t in topics %}
							<option value='{{t.0}}'>{{t.1}}</option>
						{% endfor %}
					</select> <span id="issue-error">*Please select an issue</span>
					</div>

				<div class="form-field" id="user-name">
					<label>Your name: (optional)</label>
					<input id="name-inp" name="user-name"/>
				</div>

				<div class="form-field" id="email">
					<label>Your Email: (optional)</label>
					<input id="email-inp" name="user-email"/>
					<span id="inval-email">*Please enter a valid email </span>
				</div>

				<div class="form-field">
					<label id="desc-label">Description:</label>
					<textarea id="content-inp" name="issue-content"></textarea>
					<span id="content-err">*Please give us a description of the problem</span>
				</div>

				<div class="form-field" id="follow-up">
					<input id="followup-input" type="checkbox" name="follow-up"/>
					<label>Would you like a follow up response?</label>
				</div>

				<div class="form-field" id="submit-box">
					<input id="submit-btn" type="submit" value="Send Report">
				</div>
				<input type="hidden" name="ref" value='{{referer}}'>
			</form>
		</div>

		<div id="message-box">
			<div id="success-message">
				<h1>Thank You!</h1>
				<p>
					<p>We have recieved your submission.
					</p>
					<p>We appreciate your feedback. If you would like any further information feel free to email us at: <a href= "mailto:info@provplan.org" >info@provplan.org</a></p>
				</p>
			</div>
			<div id="error-message">
				<h1>Oh no, an error!</h1>
				<p>
					<p id="status-message">
						<!--message displayed by base.js-->
					</p> 	
					<p>
						Please try your submission at a later time. If you continue to recieve this message, feel free to email us at: <a href= "mailto:info@provplan.org" >info@provplan.org</a>
					</p>
				</p>
			</div>
			<div id="tpp-img">
				<a href="#">
					<img src="{{url_for('static', filename='images/pphand.png')}}" alt="Prov Plan" width="150" height="30" >
				</a>
			</div>

		</div><!--End message-box-->

	</div><!--End container-->

	<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/base.js')}}"></script>
</body>
</html>