<!DOCTYPE html>
<html>
<head>
	<title>Form</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='CSS/base.css')}}">


</head>
<body>
	<div id="container">

		<div id="form-cont">

			<h1>Give us Feedback</h1>
			<div id="intro">Is something not working as it should? Let us know</div>

			<form action="/submit" method="post" name="issue-form" id="issue-form">
				<div class="form-field" id="drop-down">
					<label>Topic:</label>
					<select id= "issue" name="issue-option">
						<option id="first-op" value="select-one">Select one</option>
						<option value="missing-info">Missing Information</option>
						<option value="broken-indicator">Broken Indicator</option>
						<option value="site-malfunction">Site Malfunction</option>
						<option value="other">Other</option>
					</select> <span id="issue-error">*Please select an issue</span>
					</div>

				<div class="form-field" id="user-name">
					<label>Your name: (optional)</label>
					<input id="name-inp" name="user-name"/>
				</div>

				<div class="form-field" id="email">
					<label>Your Email: (optional)</label>
					<input id="email-inp" name="user-email"/>
					<span id="inval-email">*Please enter a valid email </span>
				</div>

				<div class="form-field">
					<label id="desc-label">Description:</label>
					<textarea id="content-inp" name="issue-content"></textarea>
					<span id="content-err">*Please give us a description of the problem</span>
				</div>

				<div class="form-field" id="follow-up">
					<input id="followup-input" type="checkbox" name="follow-up"/>
					<label>Would you like a follow up response?</label>
				</div>

				<div class="form-field" id="submit-box">
					<input id="submit-btn" type="submit" value="Send Report">
				</div>

			</form>
		</div>

		<div id="confirm-box">
			<h1>Thank You!</h1>
			<p>
				<p>We have recieved your submission.
				</p>
				<p>We appreciate your feedback. If you would like any further information feel free to email us at: <a href= "mailto:info@provplan.org" >info@provplan.org</a></p>
			</p>

			<div id="confirm-img">
				<a href="http://provplan.org/index.php/">
					<img src="{{url_for('static', filename='images/pphand.png')}}" alt="Prov Plan" width="90" height="auto" >
				</a>
				<a href="http://ridatahub.org/">
					<img src="{{url_for('static', filename='images/HUBlogo.png')}}" alt="RIDataHUB" width="80" height="auto" >
				</a>
			</div>

		</div>
	</div><!--End container-->

	<script src="{{url_for('static', filename='JS/jquery.min.js
')}}"></script>
	<script src="{{url_for('static', filename='JS/base.js')}}"></script>
</body>
</html>