<!DOCTYPE html>
<html>
<head>
	<title>Form</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/base.css')}}">


</head>
<body>
	<div id="container">

		<div id="form-cont">

			<div id="profiles-header">
				<h1>Thank you for using Community Profiles. 
				We welcome all feedback</h1>		
			</div>

			<div id="datahub-header">
				<h1>Thank you for using RI DataHub. We welcome all feedback</h1>
			</div>


			<div id="intro">
				Use this form to submit general inquiries, report bugs, or request additional assistance
			</div>

			<form action="/submit" method="post" name="issue-form" id="issue-form">
				<div class="form-field" id="drop-down">
					<label>Topic list:</label>
					<select id= "issue" name="issue-option">
						<option id="first-op" value="select-one">Please Select a topic</option>
						{% for t in topics %}
							<option value='{{t.0}}'>{{t.1}}</option>
						{% endfor %}
					</select> <span id="issue-error">*Please select an issue</span>
					</div>

				<div class="form-field" id="user-name">
					<label>Your name: (optional)</label>
					<input id="name-inp" name="user-name"/>
				</div>

				<div class="form-field" id="email">
					<label>Your Email: (optional)</label>
					<input id="email-inp" name="user-email"/>
					<span id="inval-email">*Please enter a valid email </span>
				</div>

				<div class="form-field">
					<label id="desc-label">Description:</label>
					<textarea id="content-inp" name="issue-content"></textarea>
					<span id="content-err">*Please give us a description of the problem</span>
				</div>

				<div class="form-field" id="follow-up">
					<input id="followup-input" class="ckbox-inp" type="checkbox" name="follow-up"/>
					<label>Would you like a follow up response?</label>
				</div>

				<div class="form-field" id="send-copy">
					<input id="sendcopy-input" class="ckbox-inp" type="checkbox" name="send-copy"/>
					<label>Would you like to receive a copy of your message sent to your email?</label>
				</div>

				<div class="form-field" id="submit-box">
					<input id="submit-btn" type="submit" value="Submit">
				</div>
				<input type="hidden" name="ref" value='{{referer}}'>
			</form>
		</div>
		<div id="terms-and-cond">

				<h4>Terms and Conditions</h4>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
		<div id="message-box">
			<div class="mBox" id="success-message">
				<h1>Thank You!</h1>
				<p>
					<p>We have recieved your submission.
					</p>
					<p>We appreciate your feedback. You can expect a response to your inquiry within 2-3 business days. If you need additional assistance please email us at:
						<a class="profiles-email" href="mailto:profiles@provplan.org">profiles@provplan.org</a> 
						<a class="datahub-email" href="questions@ridatahub.org">questions@ridatahub.org</a>
					</p>
				</p>
			</div>
			<div class="mBox" id="error-message">
				<h1>Oh no, an error!</h1>
				<p>
					<p id="status-message">
						<!--message displayed by base.js-->
					</p> 	
					<p>
						Please try your submission at a later time. If you continue to recieve this message, feel free to email us at: <a class="profiles-email" href="mailto:profiles@provplan.org">profiles@provplan.org</a> 
						<a class="datahub-email" href="questions@ridatahub.org">questions@ridatahub.org</a>
					</p>
				</p>
			</div>
			<div id="tpp-logo" class="site-logo">
				<a href="#">
					<img src="{{url_for('static', filename='images/pphand.png')}}" alt="Prov Plan" width="150" height="30" >
				</a>
			</div>

			<div id="dataHub-logo" class="site-logo">
				<a href="#">
					<img src="{{url_for('static', filename='images/HUBlogo.png')}}" alt="RI Datahub" width="150" height="30" >
				</a>
			</div>

		</div><!--End message-box-->

	</div><!--End container-->

	<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/base.js')}}"></script>
</body>
</html>